@font-face {
    font-family: 'PusKul';
    src: url('../fonts/Puskul.woff2') format('woff2');
/*    url('../fonts/Puskul.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
/*  height: auto;
  max-width: 100%;*/
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

html {
  font-size: ;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, sans-serif;
}

input:focus{
  outline: none;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: ;
  font-size: ;
  line-height: ;
  word-break: keep-all;
  color: black;
  background-color: #00ff25;
}

a{
  text-decoration: none;
}

a:visited{
  color: black;
}

.insta{
}

.manu-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 15px;
  font-size: .65rem;
  line-height: 1.4;
  z-index: 5;
}

.manu-wrapper ul li{
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

.help-wrapper{
  position: absolute;
  top: 10px;
  right: 15px;
  width: 300px;
  background-color: white;
  box-shadow: 5px 7px 5px #1a6025;
  padding: 10px;
  font-size: .65rem;
  line-height: 1.5;
  overflow-y: auto;
  z-index: 4;
}

.credit{
  font-size: .65rem;
}
.italic{
  font-style: oblique;
}