@font-face {
    font-family: 'PusKul';
    src:  url('../fonts/PusKul.woff') format('woff'),
          url('../fonts/PusKul.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
/*  height: auto;
  max-width: 100%;*/
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

html {
  font-size: ;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, sans-serif;
}

input:focus{
  outline: none;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 160vw;
  height: 140vh;
  padding: ;
  font-size: ;
  line-height: ;
  word-break: keep-all;
  color: black;
  background-color: #00ff25;
}

a{
  text-decoration: none;
}

a:visited{
  color: black;
}

a:active{
  color: black;
}

a:link{
  color: black;
}

.alert{
  position: fixed;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-color: white;
  font-size: .8rem;
  line-height: 1.3;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

.alert button{
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 15%;
  background-color: white;
}

.alert button: active{
  color: black;
}

.background{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 99;
}

.manu-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 15px;
  font-size: .65rem;
  line-height: 1.4;
  z-index: 5;
}

.manu-wrapper ul li{
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

#about: hover{
  text-shadow: 5px 7px 5px #1a6025;
}

.about-wrapper{
  display: none;
  position: fixed;
  top: 1.8rem;
  left: 110px;
  width: 280px;
  height: 260px;
  background-color: white;
  z-index: 9;
  font-size: .7rem;
  overflow-y: scroll;
  box-shadow: 5px 7px 5px #1a6025;
  padding: 10px;
  line-height: 1.5;
}

.diary-wrapper{
  position: fixed;
  top: 10px;
  right: 15px;
  width: 300px;
  height: 60%;
  background-color: white;
  box-shadow: 5px 7px 5px #1a6025;
  padding: 10px;
  font-size: .8rem;
  line-height: 1.5;
  overflow-y: auto;
  z-index: 4;
}

.diary-wrapper::-webkit-scrollbar {
  display: none;
}

.diary-wrapper::-webkit-scrollbar-button {
  display: none;
}

.diary-wrapper {
  -ms-overflow-style:none;
}

.title{
  text-align: center;
  font-size: .65rem;
}

.date-wrapper{
  position: absolute;
  top:0;
  width: 130vw;
  height: 140vh;
}

.date-wrapper ul li span{
  position: absolute;
  background-color: white;
  font-size: .65rem;
  cursor: pointer;
  z-index: 3;
}

.date-wrapper ul li{
  position: absolute;
}

.boom{
  position: absolute;
  width: 30px;
}

@keyframes blink {
  75% {
    color: #00ff25;
  }

}
@-webkit-keyframes blink {
  75% {
    color: #00ff25;
  }
}

.questions{
  cursor: help;
  background-color: #00ff25;
  z-index: 5;
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}

.questions-visited{
  cursor: help;
  background-color: #00ff25;
  z-index: 5;
}

#funnyfont{
  font-weight: bold;
  cursor: pointer;
  z-index: 4;
}

#star{
  font-weight: bold;
  cursor: pointer;
  z-index: 4;
}

#blackStar{
  font-weight: ;
  cursor: pointer;
  z-index: 100;
}

#starImg{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

 .squere{
  position: fixed;
  width: 1px;
  height: 1px;
  background-color: white;
  z-index: ;
 }

/*********draggable img********/

.draggable{
  position: fixed;
  width: 70px;
  top: 45%;
  left: 45%;
  z-index: 4;
  box-shadow: 5px 7px 5px #1a6025;
  cursor: move;
}

.draggable:hover{
/*  width: 100px;*/
}

.resize{
/*  width: 15px !important;*/
}

.sticker-wrapper img{
/*  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 7;
  box-shadow: 5px 7px 5px #1a6025;*/
}

.diaryImg{
  position: relative;
  height: 6.8rem;
  margin-top: .2rem;
  float: left;
  margin-right: 5px; 
}

.video{
 position: relative;
  margin-top: .2rem;
  float: left;
  margin-right: 5px; 
  z-index: 10;
}

#myHairImg{
  width: 400px;
  top: 20%;
  left: 20%; 
}

#snowImg{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#bf{
  font-weight: bold;
  cursor: pointer;
}

.container{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9;
}

.container img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;

}

.ifmobile{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8rem;
}

.index-wrapper{
  position: absolute;
  z-index: 2;
}

#icon{
  width: 25px;
  cursor: pointer;
}

.info{
  display: none;
  transform: translate(0, -30px);
  margin-left: 35px;
  font-size: .6rem;
  background-color: white;
  width: 180px;
  height: 35px;
  padding: 5px;
  z-index: 2;
}

@media screen and (max-width: 600px){
  .manu-wrapper, .diary-wrapper, .date-wrapper{
    display: none;
    }

  .ifmobile{
    display: block;
  }
}

/*인터뷰 영역*/


.interview-wrapper{
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}

.interview-list{
  position: fixed;
  width: 240px;
  height: auto;
  display: none;
  background-color: #a7adff;
  z-index: 6;
  padding: 10px;
  font-size: .9rem;
  line-height: 1.45;
  word-break: break-all;
  text-align: justify;
  color: black;
  font-family: monospace;
  right: 320px;
  z-index: 9;
  word-spacing: -0.2rem;
  
}

.X{
  position: absolute;
  top: 7px;
  right: 10px;
  font-family: sans-serif;
  font-size: .4rem;
/*  background-color: red;*/
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  background-image: url('../img/x.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #eb7678;
  cursor: pointer;

}

.interview-title{
  position: absolute;
  top: 7px;
  left: 0; 
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted black;
  margin-bottom: .3rem;
}

.interview-text{
  padding-top: 1.5rem;

}

.bold{
  font-weight: bold;
}
