*{
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	font-family: sans-serif;
	overflow: hidden;
	font-size: 20px;
}

.frame{
	left: 0;
    top: 0;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-size: 100vw 100vh;
    overflow: hidden;
	background-image: url("images/basic5.png");
	background-position: center;
	-webkit-animation: zoomin 1.8s linear;
	animation: zoomin 1.8s linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes zoomin {
	0% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}

@keyframes zoomin {
	0% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}

#alert{
	position: fixed;
	display: none;
	font-size: 12px;
}

.main{
	text-align: center;
	line-height: 1.6em;
	height: 100%;
}

.candle{
	position: absolute;
	bottom: -5%;
	left: 50%;
	transform: translate(-50%, 0);
}

.candleImage{
	width: 30px;
}

.input{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inputName{
	width: 50px;
	height: 21px;
	font-size: 18px;
	text-align: center;
	background-color: rgba( 255, 255, 255, 0);
	box-sizing: border-box;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	transform: translate(0, -2px);

}

.inputBirthday{
	width: 30px;
	height: 21px;
	font-size: 18px;
	text-align: center;
	background-color: rgba( 255, 255, 255, 0);
	box-sizing: border-box;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	transform: translate(0, -2px);
}

.birthdayCard{
	max-width: 400px;
	text-align: center;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	line-height: 1.6em;
	letter-spacing: 0em;
	word-spacing: -0.05em;
	word-break: keep-all;
}

#BdayCardContents{
	display: none;
}

#dear{
	display: none
	margin-bottom: 25px;
}

#flashlight,#flashlight2{
	display: none;
	position: fixed;
	right: 30px;
	bottom: 20px;
	z-index: 1;
}

#flashlight{
	color: white;
	padding: 10px 13px;
}

#flashlight2, #StickerBtn{
	color:black;
	background-color: white;
	border-radius: 50%;
	padding: 10px 13px;
}

#StickerBtn{
	display: none;
	position: fixed;
	right: 90px;
	bottom: 20px;
	z-index: 1;

}

.sticker{
	display: none;
	position: absolute;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

#alert{
	display: none;
	text-align: center;
}

#div1{position: absolute; left: 60vw; top: 10vh;}
#div2{position: absolute; left: 5vw; top: 80vh;}
#div3{position: absolute; left: 90vw; top: 30vh;}
#div4{position: absolute; left: 3vw; top: 40vh;}
#div5{position: absolute; left: 2vw; top: 50vh;}
#div6{position: absolute; left: 90vw; top: 60vh;}
#div7{position: absolute; left: 85vw; top: 70vh;}
#div8{position: absolute; left: 70vw; top: 70vh;}
#div9{position: absolute; left: 70vw; top: 4vh;}
#div10{position: absolute; left: 60vw; top: 3vh;}
#div11{position: absolute; left: 0vw; top: 0vh;}
#div12{position: absolute; left: 40vw; top: 2vh;}
#div13{position: absolute; left: 32vw; top: 5vh;}
#div14{position: absolute; left: 50vw; top: 30vh;}
#div15{position: absolute; left: 40vw; top: 40vh;}
#div16{position: absolute; left: 35vw; top: 50vh;}
#div17{position: absolute; left: 10vw; top: 60vh;}
#div18{position: absolute; left: 20vw; top: 70vh;}
#div19{position: absolute; left: 30vw; top: 85vh;}
#div21{position: absolute; left: 0vw; top: 10vh;}
#div22{position: absolute; left: 10vw; top: 15vh;}
#div23{position: absolute; left: 20vw; top: 20vh;}
#div24{position: absolute; left: 30vw; top: 30vh;}
#div25{position: absolute; left: 50vw; top: 70vh;}
#div26{position: absolute; left: 70vw; top: 70vh;}
#div27{position: absolute; left: 0vw; top: 75vh;}
#div28{position: absolute; left: 60vw; top: 78vh;}
#div29{position: absolute; left: 35vw; top: 29vh;}
#div30{position: absolute; left: 12vw; top: 83vh;}
#div31{position: absolute; left: 45vw; top: 23vh;}
#div32{position: absolute; left: 10vw; top: 43vh;}
#div33{position: absolute; left: 45vw; top: 65vh;}
#div34{position: absolute; left: 76vw; top: 57vh;}
#div35{position: absolute; left: 35vw; top: 73vh;}

#div36{position: absolute; left: 80vw; top: 60vh;}
#div37{position: absolute; left: 75vw; top: 70vh;}
#div38{position: absolute; left: 50vw; top: 80vh;}
#div39{position: absolute; left: 60vw; top: 4vh;}
#div40{position: absolute; left: 60vw; top: 3vh;}
#div41{position: absolute; left: 0vw; top: 0vh;}
#div42{position: absolute; left: 40vw; top: 2vh;}
#div43{position: absolute; left: 32vw; top: 5vh;}
#div44{position: absolute; left: 50vw; top: 30vh;}
#div45{position: absolute; left: 40vw; top: 40vh;}
#div46{position: absolute; left: 35vw; top: 50vh;}
#div47{position: absolute; left: 10vw; top: 60vh;}
#div48{position: absolute; left: 20vw; top: 60vh;}
#div49{position: absolute; left: 30vw; top: 85vh;}
#div51{position: absolute; left: 0vw; top: 20vh;}
#div52{position: absolute; left: 10vw; top: 15vh;}
#div53{position: absolute; left: 20vw; top: 20vh;}
#div54{position: absolute; left: 30vw; top: 30vh;}
#div55{position: absolute; left: 50vw; top: 70vh;}
#div56{position: absolute; left: 70vw; top: 70vh;}
#div57{position: absolute; left: 0vw; top: 45vh;}
#div58{position: absolute; left: 70vw; top: 78vh;}
#div59{position: absolute; left: 35vw; top: 29vh;}
#div60{position: absolute; left: 12vw; top: 53vh;}

.div{
	position: absolute;
	overflow: hidden;
}

.div img{
}
