html{
  width:100%;
  height:100%;
  margin: 0;
}
body{
  width:100%;
  height:100%;
  overflow: hidden;
}
#sticker-wrapper-mobile-bg{
  display: none;
}
#sticker-wrapper{
  position: absolute;
  text-align: center;
  float: left;
  background-image: url("../images/backgrounds/stickerbook.jpg");
  background-attachment: local;
  background-size: 100% 110%;
  top: 0;
  left: 0;
  width: 27%;
  height: 100%;
  overflow: scroll;
  padding: 15px 20px 10px 9px;
}
#sticker-wrapper > img{
  vertical-align: middle;
}
.imgSticker-wrapper{
  margin: 10px 0;
}
#sticker-wrapper-mobile{
  display: none;
}
.sticker{
  width: 100px;
  margin: 3px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.imgSticker{
  height: 110px;
  cursor: pointer;
}
.wordSticker{
  width:75%;
}
.miniSticker{
  width: 30px;
  margin: 8px 0px;
}
#diary-wrapper{
  position: absolute;
  overflow: hidden;
  width: 73%;
  height: 100%;
  top :0;
  left: 29%;
  z-index: 3;
}
#notice{
  position: relative;
  width: 250px;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slider-wrapper{
  position: absolute;
  width: 73%;
  height: 100%;
  top :0;
  left: 28%;
}
#slider{
  width:100%;
  height:100%;
}
.backgrounds{
  width: 100%;
  height:100%;
  position:absolute;
}
#btn-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  margin: 10px;
}
.btn{
  position: absolute;
  cursor: pointer;
  z-index: 3;
}
#backBtn{
  position: absolute;
  bottom: 25px;
  right: 80px;
}
#nextBtn{
  position: absolute;
  bottom: 25px;
  right: 40px;
}
.stickerdraggable, .imgStickerdraggable, .wordStickerdraggable{
  cursor: move;
  z-index: 4;
  clear: both;
}
#trash{
  position: absolute;
  top: 15px;
  right: 25px;
  width: 55px;
  z-index: 3;
}
#bt{
  margin: 0px 15px 10px 15px;
}

/*모바일*/
@media only screen and (max-width: 768px){
  #sticker-wrapper{
    display: none;
  }
  #sticker-wrapper-mobile-bg{
    display: block;
    top: 75%;
    left: 0;
    width: 100%;
    height: 25%;
    position: absolute;
    background-image: url("../images/backgrounds/stickerbookmobile.jpg");
    background-attachment: local;
    background-size: 100% 100%;
  }
  #sticker-wrapper-mobile{
    display: block;
    position: absolute;
    top: 78.5%;
    left: 0;
    width: 100%;
    height: 25%;
    margin: auto 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  #sticker-wrapper-mobile > img{
    position: relative;
    vertical-align: middle;
    width: auto;
  }
  .sticker{
    height: 50%;
    cursor: pointer;
  }
  .imgSticker{
    height: 60%;
    cursor: pointer;
  }
  .wordSticker{
    height: 70%;
    cursor: pointer;
  }
  .miniSticker{
    height: 20%;
    cursor: pointer;
  }
  #diary-wrapper{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 75%;
    top :0;
    left: 0;
  }
  #slider-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    top :0;
    left: 0;
  }
  #slider{
    width:100%;
    height:100%;
  }
  .backgrounds{
    width: 100%;
    height:100%;
    position:absolute;
  }
  #trash{
    width: 3rem;
  }
}
