/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,body{
  margin: 0;}
html{
  box-sizing: border-box;
  width: 100%;
  height: 100%;}
body{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 18px 28px;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  font-size: 6.3vw;
  line-height: 10vw;
  overflow: hidden;}
*, *:before, *:after {box-sizing: inherit;}
img,video {max-width: 100%;}
/**/
input{
  outline: none;
  border: none;
  border-bottom: .25vw solid black;
  width: 24%;
  line-height: 1em;
  height: 9.8vw;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  font-size: 6.2vw;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
#main2{
  padding: 20px 30px;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#paperbag{
  position: absolute;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-animation: rotation .4s infinite linear;
  animation-direction: alternate;
  cursor: pointer;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: translate(-50%, -50%) rotate(0deg);}
  to {-webkit-transform: translate(-50%, -50%) rotate(10deg);}
}
#items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#pajamas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  cursor: pointer;
}
#tulip{
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  width: 70%;
  cursor: pointer;
}
#sneakers{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 30%;
  cursor: pointer;
}
#book, #book2, #comic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  box-shadow: 3px 2px 3px 1px #aaaaaa;
  cursor: pointer;
}
#badge1{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 13%;
  cursor: pointer;
}
#badge2{
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-60%, -50%);
  width: 13%;
  cursor: pointer;
}
#matches{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18%;
  cursor: pointer;
}
/*생일카드*/
#envelope{
  display: none;
  position: absolute;
  width:500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#envelopeOpen{
  display: none;
  position: absolute;
  width:500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#paper{
  display: none;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#birthdayCard{
  display: none;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  text-align: center;
  word-break: keep-all;
  font-weight: 400; 
  font-size: 13px;
  line-height: 153%;
}
#alert{
  display: none;
  position: absolute;
  width: 300px;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  background-color: rgba( 255, 255, 255, 0.5 );*/
  text-align: center;
  word-break: keep-all;
  font-weight: 400; 
  font-size: 12px;
  line-height: 153%;
}

@media screen and (max-width: 450px){
  #alert{
    width: 70%;
    padding: 20px;
    font-size: 50%;
    line-height: 153%;
  }
  #envelope{
    display: none;
    position: absolute;
    width:80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #envelopeOpen{
    display: none;
    position: absolute;
    width:80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #paper{
    display: none;
    position: absolute;
    width:70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #birthdayCard{
    display: none;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    word-break: keep-all;
    font-weight: 400; 
    font-size: 55%;
    line-height: 150%;
    cursor: pointer;
  }
}

@media screen and (min-width: 450px) and (max-width: 736px){
  #alert{
    width: 35%;
    padding: 20px;
    font-size: 20%;
    line-height: 150%;
  }
  #paperbag{
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-animation: rotation .4s infinite linear;
  animation-direction: alternate;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: translate(-50%, -50%) rotate(0deg);}
  to {-webkit-transform: translate(-50%, -50%) rotate(10deg);}
}
  #envelope{
    display: none;
    position: absolute;
    width:45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #envelopeOpen{
    display: none;
    position: absolute;
    width:45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #paper{
    display: none;
    position: absolute;
    width:35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #birthdayCard{
    display: none;
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    word-break: keep-all;
    font-weight: 400; 
    font-size: 22%;
    line-height: 150%;
  }
}
