/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,body{
  margin: 0;}
html{
  box-sizing: border-box;
  width: 100%;
  height: 100%;}
body{
 /* position: relative;*/
  width: 100%;
  height: 100%;
  padding: 16px 25px;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 160%;
  overflow: hidden;}
*, *:before, *:after {box-sizing: inherit;}
img,video {max-width: 100%;}
/**/
input{
  outline: none;
  border: none;
  border-bottom: .09rem solid black;
  width: 4.3rem;
  line-height: 1.45rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  font-size: 1.45rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

#main1{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  padding-top: 20px;
  text-align: center;
}
#main2{
  padding: 20px 30px;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: translate(-50%, -50%) rotate(0deg);}
  to {-webkit-transform: translate(-50%, -50%) rotate(10deg);}
}
/*생일카드*/
#envelope{
  display: none;
  position: absolute;
  width:400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
    -webkit-animation: rotation .6s infinite linear;
  animation-direction: alternate;
  cursor: pointer;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: translate(-50%, -50%) rotate(-3deg);}
  to {-webkit-transform: translate(-50%, -50%) rotate(3deg);}
}
#envelope2{
  display: none;
  position: absolute;
  width:400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#envelopeOpen{
  display: none;
  position: absolute;
  width:400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#paper{
  display: none;
  position: absolute;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#birthdayCard{
  display: none;
  position: absolute;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  text-align: center;
  word-break: keep-all;
  font-weight: 400; 
  font-size: .9rem;
  line-height: 153%;
}
.alert{
  display: none;
  position: absolute;
  width: 80%;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  word-break: keep-all;
  font-weight: 400; 
  font-size: 14px;
  line-height: 154%;
}
@media screen and (max-width: 476px){
  #envelope, #envelope2, #envelopeOpen{
   width:80vw;
  }
  #paper{
    width:70vw;
  }
  #birthdayCard{
    width:70vw;
    padding: 30px;
    font-size: .8rem;
  }
}
